@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-square {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes transform-slider {
    0% {
        transform: translateY(-25px) scale(1.14);
    }

    100% {
        transform: translateY(0px) scale(1.14);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    @keyframes transform-slider {
        0% {
            transform: translateY(0px) scale(1.4);
        }

        100% {
            transform: translateY(25px) scale(1.4);
        }
    }
}

@keyframes delivery {

    20% {
        opacity: 1;
        left: 0;
        transform: translateY(-30px);
    }

    50% {
        opacity: 1;
        left: 0;
        transform: translateY(0);
    }

    70% {
        opacity: 0;
        left: 200%;
        transform: translateY(0);
    }
}