@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

@keyframes transform-slider {
    0% {
        transform: translateY(-25px) scale(1.14);
    }

    100% {
        transform: translateY(0px) scale(1.14);
    }
}